.card {
    background-color: #1d1c1c;
    padding: 20px;
    border-radius: 6px;
    margin: 120px 20px 30px 20px;
}

table{
    width: 100%;
    padding: 15px;
}

button{
    border: none;
    background-color: transparent;
}

button > img{
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.add{
    position: absolute;
    top: 75px;
    right: 20px;
}