<button class="add" routerLink="cadastrar">
    <img src="../../../assets/images/add.png" alt="add" />
</button>
<div class="card">
    <table class="table table-striped table-hover">
        <thead >
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody *ngFor="let cliente of clientes">
            <tr >
                <td>{{cliente.id}}</td>
                <td>{{cliente.name | titlecase}}</td>
                <td>{{cliente.age}}</td>
                <td>{{cliente.city | titlecase}}</td>
                <td>
                    <button routerLink="atualizar/{{cliente.id}}">
                        <img src="../../../assets/images/edit.png" alt="editar" />
                    </button>
                    <button >
                        <img src="../../../assets/images/delete.png" alt="deletar" />
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

